/*
Theme Name:     Problem Child
Theme URI:      http://jbmerideoux.com/
Description:    A child with Attitude
Author:         Spencer Williams IV
Author URI:     http://aninternetpresence.net
Template:       attitude
Version:        20130907
*/

@import url("../attitude/style.css");

@import  "http://fonts.googleapis.com/css?family=Satisfy|Patrick+Hand|Sue+Ellen+Francisco";
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

a[rel="home"] {
	display: block;
	height: 31%;
	position: absolute;
	top: 14%;
	width: 100%;
}

a:hover, a:focus, a:active{
	color: black;
}

body.home #site-title a.monotype, 
body.page-template-archives-php #site-title a.monotype,
body.page-id-485 #site-title a.monotype {
	bottom: 7%;
	display: block;
	height: 11%;
	position: absolute;
	width: 100%;
}

body.page-id-485 h1{
	font-family: "Sue Ellen Francisco";
}

body.tax-product_cat nav#access, body.single-product nav#access {
	top: 14em;
}

body.single a[rel="home"] {
	display: none;
}

.wrapper {
	max-width: 970px;
}

/* Text widget with side banner*/
#text-2 {
	margin: 0;
}

.searchform {
	position: absolute;
	right: 0;
	top: 0;
}

input.s {
	background-color: #FFFCF7;
	color: #000000;
}

#main {
	padding: 0;
}

.left-sidebar-template #secondary {
	width: 28%;
}

.left-sidebar-template #primary {
	background: url("/wp-content/uploads/2013/12/blogspacebackground.jpg") repeat scroll 0 0 / 100% 100% rgba(0,0,0,0);
	height: 884px;
	margin-left: 0;
	overflow-y: scroll;
	width: 72%;
}

#content {
	padding: 0 5%;
}

body.single:not(.single-product) nav#access {
	position: static;
}

nav#access {
	border: 0 none;
	bottom: 13em;
	display: table;
	height: 18px;
	margin: 0 auto;
	position: absolute;
	width: 100%;
	z-index: 2;
}

nav#access * {
	font-family: 'PT Sans', sans-serif;
}

nav#access .root > * {
	background-position: center center;
	background-repeat: no-repeat;
	border: .4em solid rgba(0,0,0,0);
	display: inline-block;
	float: none;
}

nav#access .default-menu {
	display: none;
}

nav#access .sub-menu {
	text-align: left;
}

nav#access .root {
	height: 33px;
	text-align: center;
}

nav#access .news {
	background-image: url("/wp-content/themes/attitude-child/images/news.png");
	background-size: 5.5em auto;
}

nav#access .whoisjbm {
	background-image: url("/wp-content/themes/attitude-child/images/whoisjbm.png");
	background-size: 14em auto;
}

nav#access .gallery {
	background-image: url("/wp-content/themes/attitude-child/images/gallery.png");
	background-size: 9em auto;
}

nav#access .shop {
	background-image: url("/wp-content/themes/attitude-child/images/shop.png");
	background-size: 5em auto;
}

nav#access .current-menu-item {
/* border-image: url("/wp-content/themes/attitude-child/images/menubar-hash.png") 5 30; */
	border-style: solid;
	border-width: .3em;
}

nav#access a[title="news"] {
	width: 11em;
}

nav#access a[title="who is jbm?"] {
	width: 18em;
}

nav#access a[title="gallery"] {
	width: 13em;
}

nav#access a[title="shop"] {
	width: 9em;
}

nav#access .root > li > a {
	font-family: 'PT Sans', sans-serif;
	height: 11px;
	padding: .5em 0;
	color: transparent;
}

nav#access .root > li:hover > a {
}

nav#access li {
	padding: 0;
}

nav#access .root > li > .sub-menu {
	top: 1.9em;
}

body.home nav#access, 
body.page-template-archives-php nav#access,
body.page-id-485 nav#access {
	bottom: 7em;
	position: static;
}

header .hgroup-wrap.clearfix {
	padding: 0;
}

.textwidget {
	position: relative;
}

.textwidget a {
	bottom: 20.5em;
	height: 5em;
	position: absolute;
	width: 5em;
}

#facebooklink {
	left: 5em;
}

#instagramlink {
	right: 4.5em;
}

#emailsidebarlink {
	bottom: 26em;
	height: 3em;
	left: 5.5em;
	width: 11.5em;
}

#archiveslink {
	bottom: 12em;
	height: 3.5em;
	left: 2em;
	width: 18em;
}

#subscribelink {
	bottom: 9em;
	height: 2.5em;
	left: 2em;
	width: 17em;
}

#patchlink {
	height: 18em;
    left: 2em;
    top: 4em;
    width: 17em;
}

.featured-slider {
	top: -3em;
	z-index: 1;
}

.entry-title {
	font-size: 4em;
	text-align: center;
}

.entry-title {
	font-family: "Sue Ellen Francisco";
	line-height: 1.5em;
	letter-spacing: 3px;
}

#frame {
	background: none no-repeat scroll center center / 18em auto rgba(0,0,0,0);
	display: table;
	margin: 1.2em auto;
	position: relative;
	top: -2em;
	width: 25em;
}

.slider-cycle figure img {
	height: 18em !important;
	width: 50%;
}

.slider-cycle {
	top: 1em;
}

#site-logo {
	float: none;
	margin: 0;
	text-align: center;
}

header > .container {
	border-radius: 1em;
}

.hgroup-wrap {
	padding-bottom: 2em;
}

.slideshowcontainer {
	display: table;
	height: 29em;
	position: relative;
	float: right;
	right: 5em;
}

.slideshowcontainer > div {
	height: 23em;
	margin: 0 3em 6em;
}

.entry-content .slideshow-window {
	background-color: rgba(0,0,0,0) !important;
	border-color: rgba(0,0,0,0) !important;
	height: 25em !important;
	position: relative;
	top: -9em;
	width: 25em;
	padding: 0 !important;
}

#gallery-5-12-slideshow {
    top: -8em;
}

body div.slideshow-window * img {
	max-width: none !important;
}

.slideshow-window img {
	display: table;
	width: 25em;
	height: 23em;
}

.slideshow-slide {
	width: 24em !important;
}

.slideshowcontainer .slideshow-controls {
	bottom: 58px;
}

.slideshowcontainer > div:after {
	display: table;
	font-size: 2em;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 2em;
}

.slideshowcontainer .slideshow-slide-caption {
	color: #292929;
	text-shadow: 1px 1px 2px #CFCFCF;
	bottom: 41px;
}

#branding .container {
	max-width: none;
}

#frontbanner {
	width: 100%;
}

#branding {
	position: relative;
	margin-top: 0;
}

a.readmore, a.readmore:hover {
	background-image: none;
	border: medium none;
	float: none;
}

.entry-content, .entry-meta {
	font-size: 2em;
	line-height: 1em;
	width: inherit;
}

a.readmore:hover {
}

article {
	font-family: "Sue Ellen Francisco";
	text-align: center;
}

/* subscribe */
body.page-id-485 .widget_wysija_cont {
	margin-top: 1em;
}

/* gallery */
body.page-id-5 .entry-content {
	font-size: inherit;
	line-height: 1.8em;
}

body.page-id-5 .entry-content h2 {
	clear: both;
}

body.page-id-5 #main {
	background: url("/wp-content/themes/attitude-child/images/gallery-background.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0,0,0,0);
	height: 1200px;
}

body.page-id-5 nav#access .whoisjbm {
	background-image: url("/wp-content/themes/attitude-child/images/whoisjbm_gallery.png");
}

body.page-id-5 nav#access .news {
	background-image: url("/wp-content/themes/attitude-child/images/news_gallery.png");
}

body.page-id-5 nav#access .shop {
	background-image: url("/wp-content/themes/attitude-child/images/shop_gallery.png");
}

body.page-id-5 nav#access .gallery {
	background-image: url("/wp-content/themes/attitude-child/images/gallery_gallery.png");
}

body.page-id-5 nav#access .current-menu-item {
/* border-image: url("/wp-content/themes/attitude-child/images/left_border_gallery.png") 4 30 4 30; */
}

#acting_natural {
	height: 18em;
	width: 13.5em;
}

.caption {
	color: #000000;
	font-size: 43pt;
	right: 6em;
	position: relative;
	top: 3em;
	width: 8em;
}

.caption + div {
	left: 13em;
}

.caption p {
	margin-bottom: 1em;
}

.caption p:nth-child(2) {
	font-size: 27pt;
}

#instagramContainer {
	position: relative;
}

#instagramContainer a {
	position: absolute;
	top: -4.5em;
	left: 2em;
}

#instagramContainer img {
	width: 25.7em;
	height: 23em;
}

.AlpinePhotoTiles_inpost_container {
	overflow: auto;
	position: relative;
	top: -5.8em;
	left: 4em;
	height: 21em;
}

.page-id-5 #colophon {
	background-image: url("/wp-content/themes/attitude-child/images/gallery-footer.jpg");
}

/* who is jbm? */
body.page-id-45 article {
	color: black;
}

body.page-id-45 section h1 {
	font-family: "Sue Ellen Francisco";
	font-size: 4em;
	color: black;
	margin: .5em 0;
}

body.page-id-45 .entry-content p {
	font-size: 2em;
	line-height: 1.2em;
	font-family: 'Architects Daughter', cursive;
}

body.page-id-45 .entry-content p:before {
	content: "";
	margin-right: 1.5em;
	position: relative;
}

body.page-id-45 .entry-content .wp-caption-text:before {
	margin: 0;
}

body.page-id-45 .entry-content .wp-caption-text {
	font-size: 1.8em;
	font-style: normal;
	text-align: center;
	border: 0 none;
}

body.page-id-45 .entry-content {
	font-size: inherit;
	padding-bottom: 0;
}

body.page-id-45 .entry-content section {
	padding: 2em;
	background-size: 100% auto;
}

body.page-id-45 .entry-content > section {
	background-image: url("/wp-content/themes/attitude-child/images/whoisjbm-canvas-panel.jpg");
}

body.page-id-45 p, body.page-id-45 h1 {
	text-align: left;
}

body.page-id-45 #content {
	padding: 0;
}

body.page-id-45 .member {
	display: inline-block;
	margin: 0 6em;
	width: 25%;
}

body.page-id-45 .member img {
	margin-bottom: 1em;
}

body.page-id-45 #TB_caption{
	height: auto;
}

body.page-id-45 #TB_window {
	width: 683px !important;	
	left: 53%;
}

body.page-id-45 #TB_window.small_TB_window{
	width: 540px !important;	
	left: 40%;
}

body.page-id-45 #content .member h2 {
	font-family: "Sue Ellen Francisco";
	line-height: 1;
    padding: 0;
}

body.page-id-45 #TB_window img {
	width: 651px !important;
	max-width: none;
}

body.page-id-45 #TB_window img[src*="thumb"] {
	width: 500px !important;
	max-width: 100%;
}

body.page-id-45 #bioblock {
    color: black;
    font-size: 3em;
    margin-top: 0.5em;
}

body.page-id-45 .member img[src*="creative"] {
	width: 85%;
}

body.page-id-45 .division {
	background-image: url("/wp-content/themes/attitude-child/images/whoisjbm_divider01.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: medium none;
	clear: both;
	font-size: 2em;
	height: 1.5em;
	margin-bottom: 0;
	padding-top: 1em;
}

body.page-id-45 .division a {
	color: white;
}

body.page-id-45 .division a:hover {
	color: black;
}

body.page-id-45 .division#hr01 {
	background-image: url("/wp-content/themes/attitude-child/images/whoisjbm_divider01.png");
}

body.page-id-45 .division#hr02 {
	background-image: url("/wp-content/themes/attitude-child/images/whoisjbm_divider02.png");
}

body.page-id-45 .division#hr03 {
	background-image: url("/wp-content/themes/attitude-child/images/whoisjbm_divider03.png");
	height: 8em;
}

body.page-id-45 #colophon {
	background-image: url("/wp-content/themes/attitude-child/images/whoisjbm_footer.png");
}

body.page-id-45 #colophon * {
	color: black;
}

body.page-id-45 .wp-caption {
	float: right;
	width: 19em;
	margin: 0;
}

body.page-id-45 #attachment_420 {
	float: left;
	padding-right: 1em;
}

#content #submenu {
	list-style-type: none;
	margin: 0;
	height: .5em;
	background: url("/wp-content/themes/attitude-child/images/whoisjbm_subnav_stiches.png") no-repeat scroll 0 0 / 100% 100%;
	padding: 2em 0;
	font-size: 2.5em;
}

#content #submenu li {
	display: inline;
	margin: 0 2em;
}

#content #submenu a {
	color: white;
}

#site-generator {
	border: none;
	padding: 12px 0;
}

#site-generator .copyright {
	margin-left: 10px;
	color: white;
}

#site-generator .copyright a {
	color: gainsboro;
}

#site-generator .copyright a:hover {
	color: white;
}

/* shop */
.woocommerce-page #colophon {
	background-image: url("/wp-content/themes/attitude-child/images/shop-footer.jpg");
}

#colophon {
	font-family: "Sue Ellen Francisco";
	font-size: 1.5em;
	background: url("/wp-content/themes/attitude-child/images/frontpage-bottom-bar.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0,0,0,0);
	max-width: 970px;
	margin: 0 auto;
	height: 48px;
}

/* All Tablet Portrait size smaller than standard 1079 (devices and browsers) */
@media only screen and (max-width: 1078px) {
	nav#access .root {
		height: auto;
	}
	
	.container {
		width: auto;
	}
	
	.textwidget img {
		height: 885px;
	}
	
	#content #submenu {
		height: auto;
		padding: 1em 0;
	}
	
	#content #submenu li{
		margin: 0 0.5em;
	}
	
	nav#access{
		bottom: 7.5em;
	}
	
	nav#access .root > li > a {
		padding: 0.3em 0.2em;
	}
	
	body.page-id-45 .entry-content section{
		background-size: 100% 100%;
	}
	
	/* Gallery */
	
	.entry-content .slideshow-window, #gallery-5-12-slideshow{
		top: -11em;
	}
	
	#monotype > p:last-child {
    	height: auto;
	}
	
	.container #secondary .textwidget a:not(.socialMedia) {
	    left: 1em;
	    width: 13em;
	}
	
	#instagramlink{
		right: 1.5em;
	}
	
	#facebooklink {
    	left: 2em;
	}
	
	.container #secondary .textwidget a {
		width: 6em;
	}
	
	body.home #site-title a.monotype, 
	body.page-template-archives-php #site-title a.monotype, 
	body.page-id-485 #site-title a.monotype{
		bottom: 12%;	
	}
	
	body.page-id-5 #main{
		height: 1050px;
	}
	.slideshowcontainer > div{
		height: 23em;
	   	margin: 0 3em 3.5em;
	 }
	.caption {
		top: 3em;
		right: 2.5em;
	}
	.caption + div {
	    left: 18em;
	}
	
	.slideshow-window img {
	    display: table;
	    height: 20em;
	    width: 19em;
	}
	
	#instagramContainer {
		left: 20.5em;
	    position: relative;
	    top: -3em;
	}
	
	#instagramContainer img {
	    height: 20em;
	    width: 19em;
	}
	
	.slideshowcontainer .slideshow-controls {
	    bottom: 80px;
	}
}

/* All Mobile Portrait size smaller than 768 (devices and browsers) */
@media only screen and (max-width: 767px) {
	#site-generator .copyright {
		text-align: left;
	}
	
	#colophon {
		font-size: 1em;
	}
	
	nav#access {
    	bottom: 5em;
	}
	
	#content #submenu {
		padding: 0.5em 0;
		background-image: url("/wp-content/themes/attitude-child/images/whoisjbm_subnav.png");
	}
	
	#content #submenu li {
		line-height: 1.5em;
	}
	
	body.page-id-45 #hr03.division{
		height: 3em;
	}
	
	/* Gallery */
	
	.container #secondary .textwidget a:not(.socialMedia) {
	    left: 0.5em;
    	width: 9em;
	}
	
	.entry-content .slideshow-window, #gallery-5-12-slideshow{
		left: 9em;
	}
	
	#instagramlink{
		right: 2em;
	}
	
	#facebooklink {
    	left: 2.5em;
	}
	
	.container #secondary .textwidget a {
		width: 2em;
	}
	
	body.home #site-title a.monotype, 
	body.page-template-archives-php #site-title a.monotype, 
	body.page-id-485 #site-title a.monotype{
		bottom: 16%;	
	}
	
	body.page-id-45 .member {
		width: 50%;
	}
	body.page-id-5 #main{
		height: 800px
	}
	.slideshow-window img {
	    display: table;
	    height: 15.5em;
	    width: 12em;
	}
	
	.slideshow-window {
	    top: 1.1em;
	}
	.slideshowcontainer > div {
	    height: 19em;
	    margin: 0 3em 1.5em;
	}
	.slideshowcontainer .slideshow-controls {
	    bottom: 69px;
	    left: 4px;
	}
	
	#instagramContainer {
	    left: 9.5em;
	    position: relative;
	    top: -1.5em;
	}
	#instagramContainer img {
	    height: 16em;
	    width: 12.5em;
	}
	.caption + div {
	    left: 4em;
	}
	
	.caption {
		font-size: 20pt;
		right: 3.5em;
	}
	.caption p:nth-child(2) {
	    font-size: 19pt;
	}
	.slideshow-window {
		height: 15em !important;
		width: 14em !important;
	}
}

@media only screen and (max-width: 480px) {
	.container #secondary .textwidget a:not(.socialMedia) {
	    left: 0.5em;
    	width: 6em;
	}
	
	#instagramlink{
		right: 3em;
	}
	
	#facebooklink {
    	left: 3.5em;
	}
	
	.container #secondary .textwidget a {
		width: 2em;
	}
	
	body.page-id-5 #main {
	    height: 500px;
	}
	
	.entry-content .slideshow-window, #gallery-5-12-slideshow{
	    left: 2.5em;
		top: -6em;
		height: 10em !important;
	}
	.slideshowcontainer > div {
	    height: 9.5em;
		width: 8em;
	    margin: 0 3em 3em;
	}
	
	.slideshow-slide {
		 top: -0.5em !important;
	}
	.caption + div {
	    left: -2.5em;
	}
	.caption{
		width: 7em;
		font-size: 18pt;
		top: 2em;
	}
	.caption p:nth-child(2) {
	    font-size: 12pt;
	}
	.slideshow-window img {
	    height: 9.5em;
	    width: 8em;
	}
	#instagramContainer {
	    left: 5em;
		width: 11em;
		top: -1em;
	}
	
	#instagramContainer img {
	    height: 11em;
	    width: 8.2em;
	}
	body div div.slideshow-controls a{
		background-size: 136px 12px !important;
		height: 25px !important;
		width: 25px !important;
	}
	.slideshowcontainer .slideshow-controls {
	    bottom: 21px;
		width: 11em;
		left: 1.5em;
	}
	nav#access {
    	bottom: 3em;
	}
}