@charset "UTF-8";

#content {
    font-family: "Sue Ellen Francisco";
}

#heading_container {
    position: relative;
    height: 7em;
    background: rgba(0, 0, 0, 0) url("/wp-content/themes/attitude-child/images/linebanner-default.jpg") repeat scroll 0 0;
}

#main select {
	padding: 0 8px;
	font-size: 1.5em;
}

#main #content #heading_container *{
	color: white;    
}

body.post-type-archive-product #main #content #heading_container h1 {
    position: relative;
    top: 0.5em;
}

body.tax-product_cat #main #content #heading_container h1 {
    position: relative;
    left: 1em;
    top: 0.6em;
    font-size: 3em;
}

body.single-product #main #content #heading_container h1 {	
    font-size: 3em;
    position: relative;
    right: 1em;
    text-align: right;
    top: 0.5em;
}

#single-product-after{
	background: rgba(0, 0, 0, 0) url("/wp-content/themes/attitude-child/images/single-product-after.jpg") no-repeat scroll 0 0 / 100% 12em;
    height: 11em;
    position: relative;
}

#gender_container {
    position: absolute;
    right: 1em;
    font-size: 3em;
    bottom: 1em;
}

body.tax-product_cat #main #content #heading_container a:hover,
body.tax-product_cat #main #content #heading_container a.active {
	color: white;
}

body.tax-product_cat #main #content #heading_container a {
	color: pink;	
}

body.tax-product_cat #main #content #heading_container * {
    color: white;
    display: inline;
}

.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary{
	float: none;
	width: 80%;
	display: inline-block;
	color: black;
}

.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a{
	margin-bottom: 0;
}

.woocommerce div.summary .title .text{
    display: inline-block;
    margin-top: 5em;
}

.woocommerce #content div.summary h1 {
    font-size: 10em;
}

.woocommerce #content div.summary h2 {
    font-size: 7em;
    margin-bottom: 0;
}

.woocommerce #content div.summary h3 {
    font-size: 5em;
    color: black;
}

.woocommerce #content div.summary > div{
	clear: left;
}

.woocommerce #content div.summary .details {
    position: relative;
}

.woocommerce #content div.summary .details > div{
	font-size: 3em;
	display: inline-block;
	width: 33%;
}

.woocommerce #content div.summary .details div.quantity{
	width: inherit;
}

.woocommerce #content div.summary .details #buyme {
    bottom: 0.2em;
    font-size: 1em;
    height: 5em;
    margin-right: 3%;
    position: relative;
    text-align: left;
    width: 30%;
}

.woocommerce #content div.summary .details #buyme .label {
    font-size: 1.6em;
    padding-right: 0.5em;
}

.woocommerce #content div.summary .details #categories{
	font-size: 3em;
	text-align: center;
	width: 33%;
	right: 2em;
	position: relative;
}

.woocommerce #content div.summary .details #buyme form {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
}

.woocommerce #content div.summary .details #buyme select {
    font-size: 1.2em;
}

.woocommerce #content div.summary .details #categories div{
	width: 100%;
}

.woocommerce #content div.summary .details #categories #category_title{
	position: relative;
	bottom: 0.5em;
}

.woocommerce #content div.summary .details #categories #category_list{
	display: block;
}

.woocommerce #content div.summary .product_description{
	font-size: 3em;
	line-height: 1em;
    margin: 1.5em auto 0;
    width: 80%;
}

.woocommerce div.product{
	text-align: center;
}

#content .woocommerce-message {
    font-size: 2em;
    margin-bottom: 0.5em !important;
}

body.post-type-archive #content{
	padding: 0;
}
#content h1, #content h2 {
    color: white;
    font-family: "Sue Ellen Francisco";
    font-size: 47px;
    padding-bottom: 0;
    text-align: center;
}

#content h3{
	font-family: "Sue Ellen Francisco";
}

#content ul, #content ol {
	margin: 0;
}
h1 {
	position: relative;
}
h1 a{
	display: table;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}
#content h2{
	font-size: 2em;
    margin-bottom: 1em;
}
.gender_div h1, .gender_div h2{
	clear: left;
}
#top {
    background: url("/wp-content/uploads/2013/12/linebanner-top.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    height: 350px;
    text-align: center;
    position: relative;
}
#top p {
    color: #000000;
    font-size: 2.2em;
    line-height: 1.2em;
    padding-top: 2.2em;
    position: relative;
}
#top.design{
	background-image: url("/wp-content/themes/attitude-child/images/topdesign_background.jpg");
	background-size: 100% 400px;
	height: 340px;
}
#content #lineselection {
    color: #FFFFFF;
    font-size: 4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
}
#lineselection li {
    display: inline-table;
    list-style: none outside none;
    margin: 0.4em 10% 0;
    position: relative;
    vertical-align: middle;
}
img[alt="velo"] {
    width: 2.1em;
}
img[alt="rookie"] {
    width: 3.4em;
}
#lineselection li:hover:before, #lineselection li.selected:before, #lineselection li:hover:after, #lineselection li.selected:after {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 0.5em auto;
    content: " ";
    height: 2em;
    position: absolute;
    top: 0.1em;
    width: 0.6em;
}
#lineselection li:hover:before, #lineselection li.selected:before {
    background-image: url("/wp-content/themes/attitude-child/images/left-hash.png");
    left: -0.6em;
}
#lineselection li:hover:after, #lineselection li.selected:after {
    background-image: url("/wp-content/themes/attitude-child/images/right-hash.png");
    right: -0.6em;
}
#lineselection #shopnav {
    margin: 0.2em 0 0;
}
#lineselection #shopnav a {
    color: white;
}
.design .description {
    margin-top: 31px;
}
.design .description > img {
    width: 400px;
}
.design .description > [src*="face-label"], .design .description > [src*="jargirl-label"]{
	width: 205px;
}
#top.design > * {
    display: inline-block;
    text-align: left;
    position: relative;
    top: 37px;
}
#top .description p {
    color: #FFFFFF;
    font-size: 40px;
    padding: 0;
    width: 15em;
}
.design > img {
    height: 269px;
    margin-left: 32px;
}
.linebanner.design h1, .linebanner.design h2 {
    display: block;
    padding: 0;
    text-align: center;
}
.linebanner.design h2 {
    font-size: 3em;
}
.linebanner.design h1 {
    font-size: 6em;
}
.linebanner.design > * {
    color: #000000;
    font-family: "Sue Ellen Francisco";
}
.linebanner {
    background: url("/wp-content/uploads/2013/12/linebanner-default.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 510px;
    padding-top: 1em;
    position: relative;
}
body.tax-product_cat #content{
	background: url("/wp-content/uploads/2013/12/linebanner-default.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
	color: white;
}
body.term-all-season #content, div.product-cat-all-season{
	background-image: url("/wp-content/themes/attitude-child/images/allseasonproducts_background.jpg");
}

body.term-velo #content{
	background-image: url("/wp-content/uploads/2013/12/linebanner-velo.jpg");
}

body.tax-product_cat #content a.button{
	display: none;
}

body.tax-product_cat #content a h3{
	color: white;
	font-size: 2em;
}

#comingsoon {
    background-color: rgba(0, 0, 0, 0.5);
    height: 91.3em;
    position: absolute;
    top: 26.9em;
    width: 74.6em;
    z-index: 2;
}
#comingsoon h1 {
    margin-top: 7em;
    font-size: 6em;
}

.linebanner h1 {
    margin-bottom: 0.3em;
    background-repeat: no-repeat;
	background-position: center;
	height: 70px;
}
.linebanner.design{
	background-image: url("/wp-content/themes/attitude-child/images/allseasonproducts_background.jpg");
	height: 800px;
}
.linebanner.design h1 {
    margin: 0.5em 0 0;
}
.linebanner.seam {
    background-image: url("/wp-content/uploads/2013/12/linebanner-rookie.jpg");
}
.linebanner.velo {
    background-image: url("/wp-content/uploads/2013/12/linebanner-velo.jpg");
}
h1#seam{
	background-image: url('/wp-content/themes/attitude-child/images/seam-label.png');
	background-size: 241px auto;
}
h1#velo{
	background-image: url('/wp-content/themes/attitude-child/images/velo-label.png');
	background-size: 170px;
	margin-bottom: 0.5em;
}
.linebanner > ul {
    margin: 0;
    text-align: center;
}
.linebanner > ul.line {
	display: block;
}
.linebanner > ul > .design-row > li {
    display: inline;
    position: relative;
}
.linebanner > ul > .design-row > li .image {
    height: 17em;
    padding: 0 4%;
}
.linebanner > ul > .design-row > li a:after {
    bottom: -22em;
    content: " ";
    height: 21em;
    left: 2em;
    position: absolute;
    width: 20em;
}
.linebanner > ul > .design-row > li .image {
    position: relative;
}
.linebanner > ul > .design-row > li #allseason:after {
    background: url("/wp-content/themes/attitude-child/images/allseason-label.png") no-repeat scroll 0.5em bottom / 19em auto rgba(0, 0, 0, 0);
    left: 1em;
}
.linebanner > ul > .design-row > li #wheelworld:after {
    background: url("/wp-content/themes/attitude-child/images/wheelworld-label.png") no-repeat scroll 2em 16em / 15em auto rgba(0, 0, 0, 0);
}
.linebanner > ul > .design-row > li #famousderailleurs:after {
    background: url("/wp-content/themes/attitude-child/images/famousderailleurs-label.png") no-repeat scroll 0.5em 16em / 18em auto rgba(0, 0, 0, 0);
}
.linebanner > ul > .design-row > li #infernalmachine:after {
    background: url("/wp-content/themes/attitude-child/images/infernalmachine-label.png") no-repeat scroll 2em 16em / 17em auto rgba(0, 0, 0, 0);
    left: 1em;
}
.linebanner > ul > .design-row > li #jargirl:after {
    background: url("/wp-content/themes/attitude-child/images/jargirl-label.png") no-repeat scroll 4em 16em / 10em auto rgba(0, 0, 0, 0);
}
.linebanner > ul > .design-row > li #face:after {
    background: url("/wp-content/themes/attitude-child/images/face-label.png") no-repeat scroll 5em 13.5em / 10em auto rgba(0, 0, 0, 0);
}
.product img {
    width: 100%;
}
#products {
    display: table;
    margin: 5em auto 0;
    text-align: center;
}

#content .sizeList {
    clear: left;
}
#content .sizeList h1 {
    text-align: left;
    padding-bottom: 1em;
}
#content #emailMessage {
    padding-bottom: 3em;
    text-align: center;
}
#content #emailMessage p {
    font-size: 3em;
    margin-bottom: 0;
}
body.tax-product_cat #main #content #emailMessage a {
    color: #05a9c5;
}

body.tax-product_cat #content .product {
    display: inline-block;
    text-align: center;
    width: 33.33333333%;  
}

body.tax-product_cat #content div#products .product:after {
    bottom: -1em;
    font-size: 34pt;
    left: 0;
    position: absolute;
    width: 5em;
}

body.tax-product_cat #content, body.single-product #content {
    padding: 0;
}

body.tax-product_cat #content p{
	padding-left: 5%;
}

body.tax-product_cat #content ul.products{
	padding-left: 5%;
}

body.single-product #content li.product{
	font-size: 1.5em;
	display: block;
}

body.single-product .variations{
	display: none;
}

body.single-product .woocommerce-variation-availability{
	display: none;
}

body.single-product button.button.single_add_to_cart_button{
	background-color: transparent;
    color: #000;
    font-size: 4em;
    position: relative;
    right: 1em;
    bottom: 0.5em;
}

body.single-product button.button.single_add_to_cart_button:hover{
	background-color: transparent;
}

body.single-product .entry-summary {
    margin-top: 4em;
}

body.single-product #cart_link{
	position: inherit;
	width: auto;
	display: inline-block;
}

body.single-product #cart_heading{
	position: inherit;	
}

.page-title-wrap{
	padding: 0;
	border: none;
}

#catheader {
	background: url("/wp-content/themes/attitude-child/images/topdesign_background.jpg") no-repeat scroll center / 100% 100% rgba(0, 0, 0, 0);
}

.cat_thumb {
    float: right;
    position: relative;
    right: 5em;
    top: 4em;
    width: 25%;
}

.cat_label {
    left: 1em;
    position: relative;
    width: 80%;
}

.cat_label[src*="face-label"] {
    width: 16em;
}

.cat_label[src*="jargirl-label"] {
    width: 16em;
}

#catheader .cat_label[src*="allseason-label"] + #message{
	margin-top: 1em;
}

#catheader .left {
    float: left;
    margin-bottom: 15%;
    padding-left: 6%;
    position: relative;
    top: 4em;
    width: 59%;
}

#catheader:before,
#catheader:after {
  content:"";
  display:table;
}
#catheader:after {
  clear:both;
}
#catheader {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#catheader #message {
    clear: both;
    color: white;
    display: inline-block;
    float: left;
    font-family: "Sue Ellen Francisco";
    font-size: 2.5em;
    line-height: 1.5em;
    padding-left: 5%;
    text-align: left;
    margin-top: 2em;
}

body.tax-product_cat #main #content * {
	color: black;
	font-family: "Sue Ellen Francisco";
	text-transform: lowercase;
}

#as04.product:after {
    content: "all season #04";
}
#as08.product:after {
    content: "all season #08";
}
#content .panel {
    font-size: 1.4em;
}
body.woocommerce-page .woocommerce-result-count {
    font-size: 1.5em;
    margin-top: 1em;
}
.bottom {
    background: url("/wp-content/uploads/2013/12/linebanner-bottom.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 70px;
}

body.single-product #content h2, body.single-product #content h1{
	color: black	
}

body.single-product #content .related.products h2 {
    margin-bottom: 0;
}

body.single-product #content #tab-additional_information h2 {
    margin-top: 1em;
}

body.single-product #content #tab-description h2 {
    margin-top: 1em;
}

#content #emailMessage{
	margin-top: 1em;
}

.woocommerce ul.products li.product a {
	width: 55%;
	display: inline-block;
}

.woocommerce ul.products li.product a img{
	max-width: 100%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin: 0;
}

/* Shopping Cart */

.woocommerce .cart .button, .woocommerce .cart input.button{
	line-height: 0;
    padding: 1em;
}

form.checkout {
	background: rgba(255, 255, 255, 0.5);
	padding: 1em;
}

form #order_comments {
    height: 6em;
}

#s2id_shipping_state, #s2id_billing_state {
    font-size: 0.5em;
}

form #place_order{
	line-height: 0;
}

.woocommerce-checkout #payment{
	background-color: white;
}

/* Checkout */

.woocommerce-order-received #content{
	background-color: rgba(255,255,255, 0.5);
}

.woocommerce-order-received #content p {
    line-height: 1.5em;
    margin-top: 0.2em;
}

.woocommerce-order-received #content h2{
	color: black;	
}

.woocommerce-order-received #content .order_details {
    background-color: white;
    padding: 1em;
    list-style: none;
}

/* All Tablet Portrait size smaller than standard 1079 (devices and browsers) */
@media only screen and (max-width: 1078px) {
	body.tax-product_cat nav#access{
		top: 8.8em;
	}

	.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary{
		font-size: 0.8em;
	}
	
	.woocommerce #content div.summary .product_description{
		margin-top: 2em;
	}
	
	#top #blurb {
	    font-size: 1.7em;
	    padding-top: 1.8em;
	}
	
	#comingsoon{
		top: 23.5em;
    	width: 54.4em;
    	height: 74.4em;
	}
	
	#comingsoon h1{
		margin-top: 5.5em;
	}	
	
	#top {
		height: 23.5em;
	}
	
	#content #lineselection {
		 margin-top: 1em;
	}
	
	.cat_thumb {
		top: 6em;
	}
	
	.linebanner {
		height: 400px;
	}
	
	.linebanner > ul > .design-row > li .image {
		height: 12em;
		padding: 0 5%;
	}
	
	.linebanner > ul > .design-row > li #allseason::after{
		background-position: 0.5em 17em;
		background-size: 13em auto;
		left: 2.4em;
	}
	
	#content .linebanner > ul > .design-row >  li a::after {
		background-size: 12em;
		bottom: -17em;
	}
	
	.linebanner > ul > .design-row >  li #infernalmachine::after{
		left: 1em;
	}
	
	#content .linebanner > ul > .design-row >  li #infernalmachine::after {
		background-size: 13em;
	}
	
	.linebanner > ul > .design-row > li #wheelworld::after{
		left: 1em;
	}
	
	.linebanner > ul > .design-row > li #famousderailleurs::after{
		left: 2.4em;
	}
	
	#content .linebanner > ul > .design-row > li #face::after {
		background-size: 9em;
		left: -1em;
	}
	
	#content .linebanner > ul > .design-row > li #jargirl::after {
		background-size: 9em;
		left: 0;
	}
	
	.product:after {
		left: 0
	}
	
	/* Shopping Cart */
	.woocommerce-cart #content{
		padding: inherit;
	}
	
	.woocommerce-cart #container{
		padding: 0 5%;
	}
}

@media only screen and (max-width: 767px) {
	body.tax-product_cat nav#access{
		top: 5.8em;		
	}
	
	body.tax-product_cat #content h1 {
		margin-bottom: 1em;
	}
	
	body.tax-product_cat .linebanner:not(.design) {
    	height: 340px;
	}
	
	body.term-velo #content, body.term-all-season #content{
		background-size: 170% 100%;
	}
	
	body.single-product #content h2{
		line-height: 1.5em;
	}
	
	.woocommerce #content div.product div.summary, 
	.woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.summary, 
	.woocommerce-page div.product div.summary{
		font-size: 0.5em;
	}	
	
	.woocommerce #content div.summary .product_description {
    	margin-top: 4em;
	}
	
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n){
		float: none;
	}
	
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
		width: 30%
	}
	
	#catheader #message {
		font-size: 1.5em;
	}
	
	#catheader .left{
		top: 2em;
	}
	
	.cat_thumb{
		right: 2em;
		top: 4em;
	}
	
	.cat_thumb[src*="face"]{
		top: 8em;
	}
		
	#comingsoon {
	    top: 14.9em;
	    width: 34.6em;
	    height: 59em;
	}
	
	#comingsoon h1 {
	    font-size: 5em;
	    margin-top: 5.1em;
	}
	
	#top {
	    height: 15em;
	}
	
	#top #blurb {
	    font-size: 1em;
	}
	
	.linebanner > ul > .design-row >  li .image {
	    height: 7em;
	    padding: 0 6%;
	}
	
	#content .linebanner > ul > .design-row >  li a::after {
	    background-size: 8em auto;
	    bottom: -8em;
	    background-position: 0.5em 0.5em;
	    height: 2.5em;
	}
	
	.linebanner {
	    height: 300px;
	}
	
	#content .linebanner > ul > .design-row > li #famousderailleurs::after {
	    left: 1.4em;
	}
	
	#content .linebanner > ul > .design-row > li #allseason::after {
    	left: 1.4em;
    	bottom: -8.5em;
	}
	
	#content .linebanner > ul > .design-row > li #wheelworld::after {
	    left: 1.2em;
	}
	
	#content .linebanner > ul > .design-row > li #infernalmachine::after {
	    background-size: 9em auto;
	    left: 1em;
	    bottom: -9em;
	}
	
	#content .linebanner > ul > .design-row > li #jargirl::after {
	    background-size: 6em auto;
	    bottom: -9.5em;
	    height: 3.5em;
	    left: 2em;
	}
	
	#content .linebanner > ul > .design-row > li #face::after {
	    background-size: 6em auto;
	    bottom: -9.5em;
	    height: 5.5em;
	    left: 2em;
	}
	
	.product:after{
		font-size: 23pt;
		bottom: -2em;
	}
	
	#content #emailMessage p{
		font-size: 2em;
   	 	line-height: 2em;
	}
	
	/* Shopping Cart */
	.woocommerce-cart #container {
    	padding: 0 5% 0 3%;
	}
}

@media only screen and (max-width: 480px) {
	body.tax-product_cat nav#access {
    	top: 3.5em;
	}
	
	.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary{
		font-size: 0.3em;
	}	
	
	.woocommerce #content div.summary .product_description {
    	margin-top: 8em;
	}
	
	#catheader #message {
    	font-size: 1em;
	}
	
	#top #blurb {
    	font-size: 0.7em;
	}
	
	.cat_thumb{
		top: 2em;
	}
	
	.cat_thumb[src*="face"]{
		right: 1em;
	}
	
	#comingsoon{
		top: 9.9em;
		width: 23em;
		height: 59em;
	}
	
	#top {
	    height: 10em;
	}
	
	#content #lineselection {
	    margin-top: 0.5em;
	}
	
	.linebanner > ul > .design-row >  li .image {
	    height: 4em;
	    padding: 0 7%;
	}
	
	#content .linebanner > ul > .design-row > li a::after {
	    background-size: 6em auto;
	    height: 2.5em;
	    bottom: -5em;
	}
	
	#content .linebanner > ul > .design-row > li #allseason::after{
		 left: 0.4em;
		 bottom: -5.5em;
	}
	
	#content .linebanner > ul > .design-row > li #wheelworld::after {
    	left: 0.2em;
	}
	
	#content .linebanner > ul > .design-row > li #famousderailleurs::after {
    	left: 0.4em;
	}
	
	#content .linebanner > ul > .design-row > li #infernalmachine::after {
	    background-size: 6em auto;
	    left: 0;
	    bottom: -5em;
	}
	
	#content .linebanner > ul > .design-row > li #jargirl::after {
	    background-size: 4em auto;
	    left: 1.2em;
	    bottom: -6em;
	}
	
	#content .linebanner > ul > .design-row > li #face::after {
	    background-size: 4em auto;
	    height: 3.8em;
	    left: 1.5em;
	    bottom: -5em;
	}
	
	#content #emailMessage {
    	font-size: 0.5em;
	}
	
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
		width: 30%
	}
	
	.product:after{
		font-size: 16pt;
	}
	
	.linebanner.design{
		 height: 600px;
	}
	
	.linebanner.design h1{
		font-size: 4em;
	}
	
	/* Shopping Cart */	
	#main #content .coupon input{
		float: none;
		display: block;
	}
	
	#main #content .coupon input[name="coupon_code"]{
		margin-bottom: 1em;
	}
	
	.woocommerce table.shop_table td{
		padding: 6px 5px;
	}
	
	/* Checkout */
	.woocommerce #payment #place_order{
		left: -1.3em;
		width: inherit;
	}
}